<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置指定使用 LOG4J 输出日志 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--默认为 false 配置属性为true 可以自动将以下划线方式命名的数据库列映射到 Java 对象的驼峰式命名属性中-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- aggressiveLazyLoading：积极的懒加载，false的话按需加载，默认是true-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <!--配置一个包的别名-->
    <typeAliases>
        <package name="top.immertry.simple.model"/>
    </typeAliases>
    <!--数据库连接-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--配置一个包含完整类路径的 CountryMapper.xml SQL语句和映射文件-->
    <!--0.1-->
    <!--<mappers>-->
    <!--<mapper resource="top/immertry/simple/mapper/CountryMapper.xml"/>-->
    <!--<mapper resource="top/immertry/simple/mapper/UserRoleMapper.xml"/>-->
    <!--<mapper resource="top/immertry/simple/mapper/UserMapper.xml"/>-->
    <!--<mapper resource="top/immertry/simple/mapper/RolePrivilegeMapper.xml"/>-->
    <!--<mapper resource="top/immertry/simple/mapper/RoleMapper.xml"/>-->
    <!--<mapper resource="top/immertry/simple/mapper/PrivilegeMapper.xml"/>-->
    <!--</mappers>-->
    <!--1.0-->
    <mappers>
        <package name="top.immertry.simple.mapper"/>
    </mappers>
</configuration>